@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header__bg-line {
  background-color: rgba(20, 20, 20, 0.8);
}
.header .header__bg {
  background: url("../../img/library-bg.png") center/cover no-repeat;
  margin: 0 auto;
  height: 670px;
}
.header__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  margin-bottom: 120px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list li {
  padding: 0 0 0 50px;
}
.header__list a {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.header__list img {
  transform: scale(0.7);
}
.header__logo h2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  color: #FFFFFF;
}
.header__logo h2 span {
  font-weight: 700;
}
.header__title {
  max-width: 720px;
  margin: 0 auto;
}
.header__title h2 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 25px;
}
.header__title h1 {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 119px;
  text-align: center;
  color: #FFFFFF;
}

.main {
  padding: 100px 0;
  background: #F1F6FA;
}
.main__text {
  max-width: 600px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
}
.main__hello {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: rgba(196, 196, 196, 0.5);
}
.footer__body {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__soc {
  display: flex;
}
.footer__soc img {
  margin: 0 10px;
}